body{

background: 
background-size: cover; 
color: 
}

#container{ 
width: 
margin: 40px auto 0;
box-sizing: border-box;
background: 
box-shadow:
-webkit-border-radius: 5px
-moz-border-radius;
border-radius: 5px; 
text-align: center;

 }

 button{ 

  }

  button:hover{ 

   }
   
   button:active{ 

    }