#container{
	background-image:url("img/wakanda.jpg");
	background-position: center center;
	min-height: 300px;
	text-align: center;
	
}
.welcome{
	color:white;
}

#wildlife{
	width: 800px;
	height:200px;
	padding:20px;
	border: 4px solid black;
	margin:250px;
	border-radius:30px;
	background-image:url("img/wildlife.jpg");
	border-top-color: #FFA500 ;
	box-shadow: 30px 70px 15px;
	position: center;
	text-align: center;
	color: white;
}
h1{
	color: #FFA500;
	font-family: 'Luckiest Guy', cursive;
	font-size: 4em;

}
a{
	color:#FFA500;
}
#special{
	color: lightblue;
}
